html {
  background-color: #303030;
}
:root {
  --green: rgb(88, 233, 87);
  --yellow: rgb(244, 252, 83);
  --orange: rgb(244, 194, 89);
  --blue: rgb(93, 97, 233);
  --cyan: rgb(81, 239, 234);
  --red: rgb(243, 99, 86);
  --purple: rgb(189, 99, 237);
  --darkBlue: rgb(0, 25, 50);
  --borders: rgb(14, 56, 99);
}
body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#gridContainer {
  display: flex;
  align-items: flex-start;
}
#grid {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  height: 400px;
  background-color: var(--darkBlue);
}

#grid div {
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border: 1px solid var(--borders);
}
#miniGrid {
  background-color: var(--darkBlue);
  margin: 40px;
  display: flex;
  flex-wrap: wrap;
  width: 80px;
}
#miniGrid div {
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border: 1px solid var(--borders);
}
#grid .ground{
  border: 0px;
}
.jBlock {
  background-color: var(--purple);
}
.sBlock {
  background-color: var(--red);
}
.tBlock {
  background-color: var(--blue);
}
.oBlock {
  background-color: var(--green);
}
.iBlock {
  background-color: var(--yellow);
}
#start {
  padding: 8px 16px 8px 16px;
  background-color: var(--blue);
  border: none;
  border-radius: 4px;
  color: whitesmoke;
  font-weight: bold;
  letter-spacing: 0px;
  width: 100px;
  text-transform: uppercase;
}
.items-center{
  align-items: center;
}
.flex-column{
  display: flex;
  flex-direction: column;
}
.scoreText{
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  font-family: sans-serif;
  font-size: 13px;
}
.scoreContainer{
  box-sizing: border-box;
  padding: 4px;
  background-color: var(--darkBlue);
  width: 100px;
  display: flex;
  flex-direction: column;
  border: 2px solid var(--borders);
}
